<meta property="og:description" content="{% if page.quote %}{{ page.quote }}{% else %}{{ page.content | strip_html | truncatewords: 20 }}{% endif %}" />
<meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}{{ site.icon }}{% endif %}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ canonical }}" />
<meta property="fb:app_id" content="{{ site.fb_app_id }}" />
<meta property="og:site_name" content="{{ site.title }}" />
